@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.section-content {
    margin-top: 160px;
}
/* Start Header Section Styles  */
.header {
    background: #264653;
}
.menu-items li a {
    margin-right: 30px;
    color: #fff;
}
.menu-items li a:hover {
    color: #fff;
}
.navbar-toggler-icon {
    border: 2px solid gray;
}
.login-btn {
    margin-left: 70px;
    width: 90px;
    height: 44px;
    background: #E76F51;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}
.login-btn:hover {
    color: #fff;
}
.banner-btn {
    background: #E76F51;
    border-radius: 5px;
}
.bike-color {
    cursor: pointer;
}
.bike-color div {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}
/* End Header Section Styles  */
/* Start Featured Section Styles  */
img.bike-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
p.featured-para {
    color: #E76F51;
    position: relative;
    text-align: center;
}
.featured-bike-images {
    margin-top: 116px;
}
p.featured-para::after {
    content:'';
    position: absolute;
    width: 70px;
    height: 1px;
    background: #E76F51;
    border-radius: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
/* End Featured Section Styles  */
/* Start Clients Section Styles  */
.client-says {
    color: #E76F51;
}
.ranks {
    color: #E76F51;
}
.client-name {
    color: #23A6F0;
}
/* End Clients Section Styles */
/* Start FAQ Section Styles  */
.q-text {
    color: #E76F51;
}
/* End FAQ Section Styles  */
/* Start Subscriber Section Styles  */
.subscribe {
    background-color: rgba(231, 111, 81, .3)
}
.subscribe-here:focus {
    border-color: rgb(146, 145, 145);
}
/* End Subscriber Section Styles  */
.brand-images {
    background-color: rgba(231, 111, 81, .3);
}
/* Start Footer Section Styles  */
.footer-left-content ul li a{
    color: #fff;
    font-size: 14px;
}
.footer-left-content p {
    font-size: 14px;
    margin-left: 12px;
}
/* End Footer Section Styles  */


/* Start Media Query Breakpoints  */
/* Small devices (landscape phones, 576px and up)  */
@media only screen and (max-width: 576px) {
    .login-btn {
        margin-left: 0;
    } 
    .banner-content {
        flex-direction: column;
        margin-left: 10px;
    }
    .banner-right-content img {
        width: 380px;
        margin-top: 50px;
    }
    .featured-bike-section {
        margin-top: 110px;
    }
    .featured-bike-images {
        margin-top: 100px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .faq-left-image img {
        margin-bottom: 65px;
        padding: 0 20px;
    }
    .footer-content {
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
    }

}
/* Medium devices (tablets, 768px and up) */
@media only screen and  (max-width: 768px) { 
    .featured-bike-images {
        margin-top: 100px;
        flex-direction: row;
        flex-wrap: wrap;
    }
 }